Repository wp-cli/cache-command, pull requests merged in 2023-04, with the labels that each got.

#86 Give a warning when flushing cache on multisite with `--url=<url>`
  features/cache.feature
  src/Cache_Command.php
Labels: command:cache, command:cache-flush

#87 Allow `wordpress-core-installer` in `composer.json`
  composer.json
Labels: scope:distribution

#84 Add `wp cache supports <feature>` command
  README.md
  composer.json
  features/cache.feature
  src/Cache_Command.php
Labels: command:cache, command:cache-supports

#85 Add `wp cache flush-group` for flushing a cache group
  README.md
  composer.json
  features/cache.feature
  src/Cache_Command.php
Labels: command:cache, command:cache-flush-group
